<!DOCTYPE html>

</html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="css/stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">

    <title>All Mushrooms HTML</title>
</head>

<body>

    <nav>
        <form action=""></form>
        <input ng-model="searchText" type="text" placeholder="search">
        <input id="" type="radio" ng-model="shroom" value="true">Edible</button>
        <input id="" type="radio" ng-model="shroom" value="false">Poisonous</button>
        </form>
    </nav>

    <article class="mushroom-list">
        <section>
            <div ng-repeat="item in shrooms | filter:searchText | filter:shroom">
                <h2>{{item.name}}</h2>
                <p>{{item.description}}</p>
            </div>
        </section>

    </article>
</body>

</html>